body {
  margin: 20px;
}

/* 배경 스타일링 */
/* body {
  background-color: #ffc;
  background-image: url('/src/assets/images/sun.png'), url('/src/assets/images/cloud.png');
  background-repeat: no-repeat;
  background-size:
    100px 100px,
    200px 150px;
  background-position: 50% 30%;
  background-attachment: fixed;
} */

/* background (short hand)속성으로 축약해서 표현하기 */
body {
  background:
    url('/src/assets/images/sun.png') no-repeat 50% 30% /100px 100px fixed,
    url('/src/assets/images/cloud.png') no-repeat 50% 30% /200px 150px fixed #ffc;
}

/* linear gradiant */

/* 기본값 */
.like {
  background-color: pink;
  background-image: linear-gradient(rgb(14, 14, 129) 30%, rgb(215, 182, 253));
}

/* 아래에서 위로 */
.lion {
  margin-top: 20px;
  background-color: pink;
  background-image: linear-gradient(to top, rgb(14, 14, 129), rgb(215, 182, 253));
}

/* 각도 기울기 */
.bootcamp {
  margin-top: 20px;
  background-color: pink;
  background-image: linear-gradient(-45deg, rgb(14, 14, 129), rgb(215, 182, 253));
}
