body {
  margin: 20px;
}

/* body 배경 색상 */

/* 중첩의 실패한 예사 */
/* body {
  background: yellow;
}

@media (min-width: 600px) {
  body {
    background: pink;
  }
}

@media (min-width: 800px) {
  body {
    background: lavender;
  }
} */

/* 중첩의 좋은 예시 */
body {
  background: #ffc;

  @media (min-width: 600px) {
    background: pink;
  }

  @media (min-width: 800px) {
    background: lavender;
  }
}
